* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato";
}

html {
  scroll-behavior: smooth;
}

/* Header starts here */
header {
  padding: 2vmax;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.header-img {
  border-radius: 50%;
  border: 0.5vmax solid #ffa0a6;
  filter: drop-shadow(0 0 1vmax #ffffff);
  width: 15vmax;
  height: 15vmax;
}

h1 {
  margin-left: 2vmax;
  color: #443233;
  font-size: 2vmax;
  text-align: center;
  line-height: 2;
  margin-right: 2vmax;
}

pre code {
  background-color: #d6ebf2;
  border: 1px solid #443233;
  padding: 4px 15px 8px 15px;
}

.draw-font {
  font-family: "Charmonman";
}

/* Navbar starts here */
nav ul li {
  list-style: none;
}

/* Hide dropdown by default */
nav ul ul {
  display: none;
  padding: 0.8vw;
}

nav ul ul li {
  width: 17vmin;
  position: relative;
}

/* Display dropdown on hover */
nav ul li:hover > ul {
  display: inherit;
}

nav a {
  font-size: 1.5vmax;
  display: block;
  padding: 0.8vw;
  line-height: 1.1;
}

/* Remove list decoration */
a {
  text-decoration: none;
  cursor: pointer;
  color: #443233;
}

.small {
  font-size: 1.3vmax;
  text-decoration: none;
  list-style: none;
}

nav a:hover {
  background-color: #3cb6b8;
}

.numbers {
  color: #ffa0a6;
  font-style: italic;
  list-style: none;
}
/* Navbar ends here */

/* Body starts here */
body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  background-color: #ffffff;
  color: #443233;
}

/* Hero image displayed under navbar */
.hero-image {
  width: 100%;
  margin-bottom: 0;
  border: 0.2vmax solid rgb(15, 15, 15);
}

/* Welcome text and subtitle */
.welcome-text {
  text-align: center;
  padding: 2vmax;
  font-size: 2.5vmax;
}

.subtitle1 {
  text-align: center;
  font-size: 1.8vmax;
}

/* About me container */
#about {
  padding: 80px 40px 80px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 45%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 50%;
}

.about-col-2 p {
  margin-top: 10px;
  font-size: 1.6vmax;
  padding: 50px;
}

.subtitle2 {
  font-size: 2.1vmax;
  font-weight: 600;
  text-align: left;
  padding-left: 30px;
}

/* Contact me btn */
.about-contact-btn {
  margin-top: 2vmax;
  float: right;
}

.contact-btn {
  background-color: #f45658;
  border: 2px solid #443233;
  color: #ffffff;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 8px 8px #3cb6b8;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.contact-btn:hover {
  background-color: #3cb6b8;
  border: 2px solid #443233;
  color: #ffffff;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 10px 10px #f45658;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* About ends here */

/* Skills container */
#skills {
  padding: 30px 0;
  background-image: url("../images/skills-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.skills-col-1 {
  flex-basis: 50%;
  padding-top: 50px;
}

.skills-col-2 {
  flex-basis: 45%;
}

.subtitle-skill {
  font-size: 2.1vmax;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  color: #443233;
}

.skills-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.skills-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.skills-list div:hover {
  background: #ff974a;
  transform: translateY(-10px);
}

.illustration {
  background: #fec548;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.illustration p {
  line-height: 20px;
}

.graphic-design {
  background: #3cb6b8;
  color: #ffffff;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.graphic-design p {
  line-height: 20px;
}

.back-end {
  background: #ffa0a6;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.back-end p {
  line-height: 20px;
}

.front-end {
  background: #2a7ce0;
  color: #ffffff;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.front-end p {
  line-height: 20px;
}

.dark-link {
  text-decoration: none;
  color: #443233;
  font-size: 18px;
  margin-top: 20px;
  display: inline-block;
}

.light-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px;
  display: inline-block;
}

/* Contact me btn */
.skills-contact-btn {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactme-btn {
  background-color: #fec548;
  border: 2px solid #443233;
  color: #443233;
  padding: 10px 24px;
  margin-left: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 8px 8px #9ddff3;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.contactme-btn:hover {
  background-color: #9ddff3;
  border: 2px solid #443233;
  color: #443233;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 10px 10px #fec548;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* Skills ends here */

/* General gallery styles */
figcaption {
  font-size: 0.8vmax;
  margin-top: 0;
  margin-right: 5px;
  text-align: end;
  color: #ffffff;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  border: 0.2vmax solid #443233;
}

.image-title {
  font-size: 1vmax;
  padding: 0.5vmax;
  color: white;
  background-color: #443233;
  text-decoration: none;
  width: fit-content;
  position: relative;
  bottom: 7vh;
  text-align: left;
}

/* Web portfolio container */
#web {
  font-size: 30px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.web-gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}

.gallery-item-1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery-item-2 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery-item-3 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery-item-4 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery-item-5 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 7;
}

.gallery-item-6 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 9;
}
/* Web portfolio ends here */

/* Art portfolio container */
#art {
  font-size: 30px;
  font-weight: 600;
  line-height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.art-gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(13, 5vw);
  grid-gap: 15px;
}

.gallery-item-7 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery-item-8 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery-item-9 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery-item-10 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 10;
}

.gallery-item-11 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 10;
}

.gallery-item-12 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 10;
  grid-row-end: 12;
}

.gallery-item-13 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 12;
  grid-row-end: 14;
}

.gallery-item-14 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 10;
  grid-row-end: 14;
}
/* Art portfolio ends here */

/* Contact me */
#contact-header {
  font-size: 30px;
  font-weight: 600;
  line-height: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-me {
  text-align: center;
}

div a {
  padding-left: 2vmax;
  padding-right: 2vmax;
  text-decoration: none;
  color: #443233;
  font-size: 1.5vmax;
}
/* Contact me ends here */

/* Footer section */
.copyright {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #3cb6b8;
  font-weight: 300;
  margin-top: 30px;
}

.copyright p {
  color: #ffffff;
}

.copyright i {
  color: red;
}
/* Footer ends here */